$orange: #ff6c2c;
$violet: #945b9f;
$skyblue: #5eb6e1;
$gray: #9e9e9e;
$muted: #bbbbbb;
$black: #222224;
$white:#ffffff;
$dark-gray: #292F39;
$light-gray: #00000029;


$body-main-bg-color: $white;
$body-second-bg-color: $black;
$footer-bg-color: #19191C;
$footer-secondary-bg-color: $skyblue;
$spacer-color-dark: $skyblue;
$spacer-color-light: $white;

$nav-bg-mobile: $dark-gray;
$nav-bg: $body-main-bg-color;
$nav-desktop-color: $black;

$btn-bg-color: #5eb6e1;
$btn-bg-secondary: $white;

$carousel-indicator: $skyblue;

$border-color: #5eb6e1;
$border-tag-color: $gray;
$box-shadow-color: $light-gray;

$light-main-color: #ffffff;
$light-secondary-color: #f6f7fb;
$dark-main-color:$black;
$footer-text-color: #BCBCBC;
$card-name-color: $dark-gray;



$card-bg-color: $black;

$outline-main-color: $skyblue;
$placeholder-color: $muted;






